.add-learning-need-section {
  padding: 40px 0;

  @include lg-pc {
    padding: 32px 0 80px 0;
  }

  h1, h2 {
    font-size: 24px;
    font-weight: 700;

    @include lg-pc {
      font-size: 20px;
      font-weight: 500;
    }
  }

  h3 {
    color: $gray-01;
    font-size: 16px;
    font-weight: 500;

    @include lg-pc {
      font-size: 14px;
    }
  }

  /* guide-wrap */
  .guide-wrap {
    border: 2px solid $brand-02;
    border-radius: 16px;

    @include mobile {
      border: 0;
    }
  }

  .openRobot-button-wrap {
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    display: flex;
    justify-content: center;
    padding: 32px;

    @include xl-pc{
      justify-content: flex-end;
    }

    @include lg-pc {
      padding: 16px;
      justify-content: center;
    }

    @include mobile {
      justify-content: flex-end;
    }

    img {
      left: 0; bottom: 0;
      margin: 0 0 32px 32px;

      @include xxl-pc {
        margin: 0 0 16px 16px;
      }

      @include pad {
        width: 100px;
        margin: 0 0 12px 6px;
      }
    }
  }

  /* learning-need-form-wrap */
  .learning-need-form-wrap {
    padding-left: 56px;

    @include xl-pc {
      padding-left: 0;
    }

    @include lg-pc {
      padding-top: 32px;
    }
  }

  /* form */
  .form-label {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 4px;
  }
  .dropdown-toggle::after {
    display: none;
  }
}

/* 編輯器 - ReactQuill */
.ql-container {
  border-radius: 0 0 16px 16px; 
  border: 1px solid $gray-03;
  min-height: 100px;
}
.ql-toolbar {
  border-radius: 16px 16px 0 0;
  border-bottom: 1px solid $gray-03;
}
.ql-editor {
  font-size: 16px;
}
.ql-container .ql-editor.ql-blank::before {  // placeholder樣式
  color: $gray-03 ;
  font-style: normal ;
}

/* chat-room */
.chat-room {
  .room-title {
    color: $gray-01;
  
    @include lg-pc {
      font-size: 20px;
      font-weight: 500;
    }
  }
  
  .offcanvas-body {
    overflow-y: auto;
    padding-bottom: 156px;
  }

  .offcanvas-footer button {
    white-space: nowrap;
  }
}
