.student-favorites-section {
  min-height: calc(100vh - 200px);

  .table-list {
    width: 100%;
    overflow: hidden;
  }

  .table-wrap {
    white-space: nowrap;
    overflow-x: auto;
  }

  .table thead tr th {
    font-weight: 500;
    padding: 0px 8px 12px;
  }

  .table tbody tr td {
    padding: 8px 8px;

    .cover_image-wrap {
      width: 120px;
      height: 80px;
      overflow: hidden;

      .related-video-duration {
        right: 0;
        bottom: 0;
        color: $gray-04;
        line-height: 1.2;
        background-color: #1e1e1e4d;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .tutor-style {
    .grid-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 5px;
    }

    .favorite {
      background-color: rgb(226 220 220 / 40%);
      right: 0;
      bottom: 10px;
    }
    .tag{

    }

    @media (max-width: 1440px) {
      .grid-container {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    @media (max-width: 768px) {
      .grid-container {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}
