.tutor-manage-profile-workExperiences-wrap {
  .table thead tr th {
    font-weight: 500;
    padding-bottom: 12px;
  }
  .table tbody tr td {
    padding: 8px 0;
  }

  button {
    white-space: nowrap;
  }

  input {
    width: 80%;
    border-radius: 8px;
  }
}
