.tutor-manage-profile-workExperiences-wrap,
.tutor-manage-profile-education-wrap,
.tutor-manage-profile-certificates-wrap {
  width: 100%;
  overflow: hidden;

  .table-wrap {
    white-space: nowrap;
    overflow-x: auto;
  }

  .table thead tr th {
    font-weight: 500;
    padding: 0 12px 12px;
  }
  .table tbody tr td {
    padding: 8px;
  }

  button {
    white-space: nowrap;
  }

  .profile-input {
    width: 80%;
    border-radius: 8px;
  }
}
